<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fangjl.mintblue" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/tubiao"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >


        <activity
            android:name=".WelComeActivity"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Query"></activity>

        <activity android:name=".Translate"></activity>

        <activity android:name=".News"></activity>

        <activity android:name=".Recite"></activity>

        <activity android:name=".MintBlue"></activity>

        <activity android:name=".Manager"></activity>

        <activity android:name=".Select"></activity>

        <activity android:name=".Lexicon"></activity>

        <activity android:name=".MainActivity"></activity>

    </application>

</manifest>
